@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper,
  main {
    height: 100%;
  }

  .spinnerPos {
    top: calc(50% - 48px);
    right: calc(50% - 48px);
  }
  .playerTriaglePos {
    top: calc(50% - 46px);
    right: calc(50% - 40px);
  }

  :root {
    color-scheme: dark;
  }

  .fullHeight {
    min-height: calc(100vh - 80px);
  }

  .nav-link_active {
    @apply relative before:content-[""] before:absolute before:left-0 before:h-[1px] before:w-full before:bottom-0 before:bg-info before:transition-all before:ease-in-out before:duration-300;
  }

  .nav-link_hover {
    @apply relative before:content-[""] before:absolute before:left-1/2 before:h-[1px] before:w-0 before:bottom-0 before:bg-info before:transition-all before:ease-in-out before:duration-300 hover:before:w-full hover:before:left-0;
  }
}
